
html { 
  background-image: url(images/d.jpg);
}

body {
  background-color: beige;  
  max-width: 1024px;
  min-width: 250px;
  margin: auto;
  height: auto; 
  border: 1px solid var(--black);
  box-sizing: border-box; 
}

header{width: 100%; background-color: beige;}
#logo{ width: 70%; margin-top:2%; }

/*---variable---*/
:root {
  --orange:#F28C28;
  --white: #ffffff;
  --black:#000000;
}

/*-----HEADINGS-----*/
h1{
	font-family: Verdana;
	font-size: 4vw;
	color: black;
  text-align: center;
  text-shadow: -1px 0 var(--orange), 0 1px var(--orange),
   1px 0 var(--orange), 0 -1px var(--orange);
 
}
h2{
  font-family: Verdana;
  font-size: 4vw;
  color: black;
  text-align: center;
  text-shadow: -1px 0 var(--orange), 0 1px var(--orange),
   1px 0 var(--orange), 0 -1px var(--orange);
}
span{color: var(--orange); 
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
strong{
  color: orangered;
}
nav{
  margin:auto;
  width: 100%;
 background: black;

}
li{
  display: inline-block;
  font-family:Verdana;
  margin-left: 7%;
  font-size: x-large;
  padding: 0.5%;  
}
a{
  text-decoration: none;
  color: var(--white);
}

a:hover {color:var(--orange);}
.main{
  width: 100%;
  height: auto;
  font-family: Verdana;  
  color: black;
  clear:both;
  }

.A {
  width: 95%;
  padding: 2%; 
  text-align: justify;
  font-size: 2vw;
}
aside {
  width: auto;%; 
  padding: 1%;
   
}
.w3{margin: auto; width: 100%;}

.mySlides {
  display:none; margin: auto;
  border: 1px solid var(--orange);
  box-sizing: border-box;
}

 #sc {width: 100%; height: auto;}


footer{
  margin: auto;
  width: 100%;
  background-color:var(--black);
  color:var(--white);
  font-size: x-large;
  
}
.fa p{font-family: Verdana;}
.f{width: 20%;}
.fa{padding: 1%;width: 80%; font-family: }
.fb{padding: 1%; width: 48%;}

.media-nav{display: none;}



/*------SCREEN SIZES---------*/
@media screen and (max-width: 850px) {
li{margin-left: 4%;}
.A{font-size: 3.5vw;}
.f{width: 25%;}
}


/*------640 screen size-------*/

@media screen and (max-width: 640px) {
h1{display: none;}
nav {display: none;}
h2{font-size: 5vw;}
.A {
  width: 96%;
  padding: 2%; 
  text-align: justify;
  font-size: 4vw;
}
.mySlides {
  display:none; margin: auto;
  width: 80%;
  border: 1px solid #F28C28;;
  box-sizing: border-box;
}

.media-nav {
    width: 100%;
    height: auto;
    display: block;
    
  }


  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    position: relative;
    height: auto;
    background: beige;
    z-index: 1;

  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    background: var(--orange);
    width: 96%;
    border-radius: 10px;
    border: 2px solid var(--black);
    box-sizing: border-box;
    padding: 2%;
    float: right;
    clear: both;


  }

  /* Style navigation menu links */
  .topnav a {
    color: var(--black);
    padding: 2%;
    text-decoration: none;
    font-size: x-large;
    font-family: Verdana;
    display: block;
    
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: var(--orange);
    display: block;
    position: absolute;
    right: 5%;
    top: 25%;
    width: auto;


  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    box-shadow: none;
    color: var(--black);
    background-color: var(--white);
    transition-duration: 0.1s;

  }

  footer{
  margin:auto;
  width: 100%;
  background:var(--black);
  color: white;
  font-family:courier;
  font-size: large;
  
}
.f{width: 20%;}
.fa{padding: 1%;width: 90%;}
.fb{padding: 1%; width: 90%;}

  




}